* {
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

/*
Light:  #c9daff
        #87a5e6;
        #4f77cc
Dark:   #293a99
*/


/* Navigation */ 

.mobileNavbar{
    display: none;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1em;
    color: white;
}
    
.navbar ul {
    position: relative;
    margin: auto;
    height: 30px;
    width: 90%;
    padding-inline-start: 0;
    padding-left: 20px;
}

.navbar {
    background-color: #742ecf;
    border-bottom: 1px solid rgb(153, 153, 153);
    height: 50px;
    color: ghostwhite;
    font-weight: 700;
    width: 100%;
    position: fixed;
}

.fright li{
    float: right;
}

header img{
    height: 36px;
    position: relative;
    bottom: 10px;
}

.fleft li{
    float: left;
}

<<<<<<< Updated upstream
@media only screen and (max-width: 480px){
=======
@media only screen and (max-width: 780px), only screen 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3), only screen 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 2){
>>>>>>> Stashed changes
    .navbar{
        display: none;
    }

    .mobileNavbar {
        background-color: #742ecf;
        border-bottom: 1px solid rgb(153, 153, 153);
        height: 50px;
        color: ghostwhite;
        font-weight: 700;
        width: 100%;
        display: block;
    }

    .mobileNavbar ul li {
        list-style-type: none;
        display: inline-block;
        padding: 1em;
        color: white;
    }

    .mobileNavbar ul {
        position: relative;
        margin: auto;
        height: 30px;
        width: 90%;
        padding-inline-start: 0;
        padding-left: 20px;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3){
    .navbar{
        display: none;
    }

    .mobileNavbar {
        background-color: #742ecf;
        border-bottom: 1px solid rgb(153, 153, 153);
        height: 50px;
        color: ghostwhite;
        font-weight: 700;
        width: 100%;
        display: block;
    }

    .mobileNavbar ul li {
        list-style-type: none;
        display: inline-block;
        padding: 1em;
        color: white;
    }

    .mobileNavbar ul {
        position: relative;
        margin: auto;
        height: 30px;
        width: 90%;
        padding-inline-start: 0;
        padding-left: 20px;
    }
}










/* Content */

.content{
    margin: auto;
    background-color: #3baaff;
    height: 50%;
    color: white;
    padding-top: 45px;
    margin-bottom: 75px;
}


h1 {
    width: fit-content;
    margin: 0 auto;
    font-size: 6em;
    padding-top: 10px;
}

.tagline {
    width: 80%;
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
}

p {
    width: 70%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.insideRight ul li {
    list-style: none;
    padding-left: 5px;
}


.ring {
    border: 3px solid black;
    border-radius: 50%;
    width: 25px;
    padding-left: 5px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 500px;
    align-items: center;
}

@media only screen and (max-width: 780px), only screen 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3), only screen 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 2){
    .container{
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }

    .insideLeft{
        height: 50%;
    }

    .insideRight{
        position: relative;
        bottom: 50px;
    }

}


.insideRight ul {
    margin: auto;
    width: 80%;
}

.insideRight, .insideLeft{
    width: 100%;
    justify-content: center;
}

.insideLeft h4{
    margin: auto;
    width: 60%;
    justify-content: center;
}





/* Footer */

.footbar ul li {
    list-style-type: none;
    display: inline-block;
    padding: 1em;
}
    
.footbar ul {
    position: relative;
    margin: auto;
    height: 30px;
    width: fit-content;
    padding-inline-start: 0;
}

.footbar {
    background-color: #742ecf;
    border-top: 1px solid rgb(153, 153, 153);
    height: 50px;
    color: ghostwhite;
    font-weight: 700;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

